# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../天天吃货后端源码\.idea/codestream.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
